*.log
.DS_Store
.env
.env.backup
.env.production
http-client.env.json
http-client.private.env.json
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/*.key
/storage/pail
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/.gitignore
!/storage/app/private/
/storage/app/private/*
!/storage/app/private/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data/
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/docs/training
