{
  "dev": {
    "SAP_DB_NAME": "your_db_name_from_env",
    "SAP_USER": "your_username_from_env",
    "SAP_PASSWORD": "your_password_from_env"
  },
  "production": {
    "SAP_DB_NAME": "",
    "SAP_USER": "",
    "SAP_PASSWORD": ""
  }
}

