{
  "dev": {
    "SAP_DB_NAME": "your_db_name_here",
    "SAP_USER": "your_username_here",
    "SAP_PASSWORD": "your_password_here"
  },
  "production": {
    "SAP_DB_NAME": "",
    "SAP_USER": "",
    "SAP_PASSWORD": ""
  }
}

